<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Загрузка файла</title>
</head>
<body>
  <script>
    function uploadFile() {
      let fileInput = document.getElementById('fileInput');
      let file = fileInput.files[0];
      const fileName = file.name;
      let formData = new FormData();
      formData.append('file', file);
      
      fetch('http://localhost:8000/api/file/uploadfile', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json());
      window.location.href = `/page/table/${fileName}`;
  };
  </script>
  <input type="file" id="fileInput"> <br><br>
  <button id="uploadButton", onclick="uploadFile()">Загрузить файл</button>
</body>
</html>
